<%- include('header') %>
<div> Bienvenue sur la page d'accueil </div>

    <style>

      .chartMenu {
        width: 100vw;
        height: 40px;
        background: #1A1A1A;
        color: rgba(255, 26, 104, 1);
      }
      .chartMenu p {
        padding: 10px;
        font-size: 20px;
      }
      .chartCard {
        width: 100vw;
        height: calc(100vh - 40px);
        background: rgba(255, 26, 104, 0.2);
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .chartBox {
        width: 700px;
        padding: 20px;
        border-radius: 20px;
        border: solid 3px rgba(255, 26, 104, 1);
        background: white;
      }
    </style>
  </head>
  <body>

    <div class="chartCard">
      <div class="chartBox">
        <canvas id="myChart"></canvas>
      </div>
    </div>
    
    <script type="text/javascript" src="scripts/chart.js/dist/chart.umd.js"></script>
    <script>
    // setup 

    <% let arrayLabels = []
    let arrayData = []
    
        medicaments.forEach(function(user,i){ 
                //forrmatter les données pour charts JS
                arrayLabels.push("`"+user.medicament_nom+"`")
                arrayData.push(user.medicament_boitesstock)
                
             })
             //console.log(arrayLabels)
    %>

    const nomsMedicaments = [<%= arrayLabels %> ]
    const medicamentsBoitesstock = [<%= arrayData %> ]
     
    console.log(nomsMedicaments)
    const data = {

      labels: nomsMedicaments,
      datasets: [{
        label: 'Stocks Des Médicaments',
        data: medicamentsBoitesstock,
        backgroundColor: [
          'rgba(255, 26, 104, 0.2)'

        ],
        borderColor: [
          'rgba(255, 26, 104, 1)'

        ],
        borderWidth: 1
      }]
    };

    // config 
    const config = {
      type: 'bar',
      data,
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    };

    // render init block
    const myChart = new Chart(
      document.getElementById('myChart'),
      config
    );
    </script>

  </body>
