<%#- include('headerConnexion') %>
<form action="/connexion" method="post" id="form">

    Adresse Mail : <input type="email" name="email" id="email">
    Mot de passe :<input type="password" name="mdp" id="mdp">
    <button type="submit">CONNEXION</button>

</form>