<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pharmacie Sautheuz</title>
    <link rel="icon" type="image/x-icon" href="/img/Logoheadertransparent.svg">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
</head>

<body>
    <div class="header">
        <img id="logo" src="/img/Logoheadertransparent.svg" alt="Logo">
        <button onclick="window.location.href='http://localhost:3000/accueil'" class="btnheader"><i class="fa-solid fa-house"></i> ACCUEIL</button>
        <button onclick="window.location.href='http://localhost:3000/medicaments'" class="btnheader"><i class="fa-solid fa-pills"></i> MÉDICAMENTS</button>
        <button onclick="window.location.href='http://localhost:3000/patients'"  class="btnheader"><i class="fa-solid fa-hospital-user"></i> PATIENTS</button>
        <button onclick="window.location.href='http://localhost:3000/mutuelles'"  class="btnheader"><i class="fa-solid fa-hospital-user"></i> MUTUELLES</button>
        <button onclick="window.location.href='http://localhost:3000/pathologies'"  class="btnheader"><i class="fa-solid fa-hospital-user"></i> PATHOLOGIES</button>
        <button onclick="window.location.href='http://localhost:3000/medecins'"  class="btnheader"><i class="fa-solid fa-hospital-user"></i> MEDECINS</button>

        <button onclick="window.location.href='/'" class="btnlogout"><i class="fa-solid fa-right-from-bracket"></i></button>

    </div>