<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pharmacie Sautheuz</title>
    <link rel="icon" type="image/x-icon" href="../assets/img/Logoheadertransparent.svg">
</head>

<body>
    <div class="header">
        <img src="img/logoHeader.png" alt="Logo">
        <button href="/accueil" class="btnheader">Formulaire</button>
        <button href="/medicaments" class="btnheader">Résultats</button>
        <button href="/patients" class="btnheader">Résultats</button>
        <button href="/connexion" class="btnlogout"></button>

    </div>