<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pharmacie Sautheuz</title>
    <link rel="stylesheet" href="views\css\style.css">
</head>

<body>
    <div class="header">
        <img src="assets\img\Logoheadertransparent.svg" alt="Logo">
        <button href="/accueil" class="btnheader">Formulaire</button>
        <button href="/medicaments" class="btnheader">Résultats</button>
        <button href="/patients" class="btnheader">Résultats</button>
        <button href="/connexion" class="btnlogout"></button>

    </div>