 @import url('https://fonts.googleapis.com/css2?family=Anton&family=Lato:wght@400;900&family=Open+Sans:wght@800&display=swap'); 

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

h1{
    font-family: 'Anton', sans-serif;
    letter-spacing: 0.07em;
    font-size: 30px;

    color: #18215B;

}



.btnSubmit{
    background-color: #18215B;
    font-family: 'Open', sans-serif;
    width: 10em;
    color: white;
    border-radius: 5px;
    padding: 12px 16px;
    font-size: 15px;
    cursor: pointer;
    border: 0;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);

}

.align{
display: flex;

}

input{
    border: 0;
    border-radius: 7px;
    height: 25px;
}

#mainContainer{
    width: 80%;
    margin: 10% auto ;
    text-align: center;
}

.connexionForm{
    padding: 40px;
    text-align: center ;
    background-color:#E6DECE ;
    border-radius: 7px;
}


.labelConnexion{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    padding: 10px;

}


#dateActuelle{
align-items: flex-end;}

.header {

    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    gap: 1em;
    font-family: 'Anton', sans-serif;
    background-color: #C3E5F8;
    padding: 1em;


}


#logo {
    max-width: 50px;
}

.btnheader {
    background-color: #82BAEB;
    font-family: 'Anton', sans-serif;
    border-radius: 5px;
    padding: 12px 16px;
    font-size: 15px;
    cursor: pointer;
    border: 0px;

    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
}

.btnEdit {
    background-color: #82BAEB;
    font-family: 'Anton', sans-serif;
    border-radius: 5px;
    border: none;
    color: black;
    padding: 12px 16px;
    font-size: 15px;

    cursor: pointer;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
}



.btnlogout {
    background-color: #FF6969;
    font-family: 'Anton', sans-serif;
    border-radius: 5px;
    border: none;
    color: black;
    padding: 12px 16px;
    font-size: 15px;

    cursor: pointer;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
}



.chartBox {
    width: 100%;
    padding: 20px;

    border-radius: 20px;
    border: 40px;
    background: #E6DECE;
  }


  #leftChart{
    width: 33%;
    padding: 20px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;

    border: 40px;
    background: #E6DECE;
  }
  #middleChart{
    width: 33%;
    padding: 20px;
    border: 40px;
    background: #E6DECE;
  }

  #rightChart{
    width: 33%;
    padding: 20px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;

    border: 40px;
    background: #E6DECE;
  }




/*
font-family: 'Anton', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
*/